/* GENERAL
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}


/* TEXT
*/

h1 {

}

h2 {
  line-height: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: #0070C0;
  font-weight: 600;
}

h3 {
  line-height: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: #0070C0;
  font-weight: 600;
}


span.breadcrumbsParagraph {
  font-family: Verdana, sans serif;
  font-size: 14px;
  color: #999999;
  margin-left: 20px;
}

span.breadcrumbsParagraph a {
  text-decoration: none;
  color: #1f73b7;
  border-bottom: 1px solid white;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

span.breadcrumbsParagraph a:hover {
  text-decoration: none;
  border-bottom: 1px solid #0070C0;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

article.instructionsArticle a {
  font-family: 16px;
  line-height: 2.2em;
  font-family: verdana, sans, serif;
  border-bottom: 1px solid #2799be;
  color: #1f73b7;
  text-decoration: none;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

article.instructionsArticle a:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

p {
  font-size: 17px;
  font-family: verdana, sans-serif;
  color: #666666;
  line-height: 2.2em;
  margin-bottom: 20px;
}

div.articleTitle {
  line-height: 50px;
  color: #999999;
  font-size: 32px;
  font-family: verdana, sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}

ol {
  margin-top: 30px;
  font-family: Verdana, sans-serif;
  color: #666666;
  margin-left: 40px;
  font-size: 17px;
  line-height: 2.2em;
  font-family: verdana, sans-serif;
  margin-bottom: 40px;
}

ol li {
  padding-left: 4px;
  text-indent: 0px;
  margin-left: 4px;
  margin-bottom: 22px;
}

ul {
  font-family: Verdana, sans-serif;
  color: #666666;
  font-size: 17px;
  line-height: 2.2em;
  list-style-type: none;
  font-family: verdana, sans-serif;
  list-style: none;
  margin-bottom: 40px;
  margin-left: 40px;
}

ul li::before {
  content: "\2022";
  color: darkgray;
  display: inline-block; 
  width: 12px;
}

ul li {
  padding-left: 8px;
  text-indent: -12px;
  margin-bottom: 0px;
}

blockquote {
  border-left: 4px solid rgba(173, 216, 230, 0.9);
  background-color: rgba(173, 216, 230, 0.2);
  color: #666;
  font-family: verdana, sans-serif;
  line-height: 2.2em;
  font-size: 17px;
  font-style: normal;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 30px;
}


/* DIVS FOR ADJUSTMENTS*/

div.shortenedHeight {
  margin-bottom: -20px;
}

div.negativeHeight {
  margin-bottom: -50px;
}

div.beforeOLUL {
  font-size: 17px;
  font-family: verdana, sans-serif;
  color: #666666;
  line-height: 2.2em;
}

div.tabLeft {
  margin-left: 25px;
  text-indent: 0px;
  margin-bottom: 0px;
}


/* IMAGES IN ARTICLE
*/
.instructionsArticle img {
  width: 100%;
}


/* HEADER SECTION
*/
header {
  background-color: white;
  width: 100%;
  margin: 0;
  height: 100px;
  border-bottom: 1px solid #ddd;
}


header a {
  margin-left: 60px;
  display: block;
  padding-top: 35px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #939393;
  text-decoration: none;
  font-weight: 600;
}


/*BREADCRUMBS AND SEARCH - SECTION
*/

.breadcrumbsAndSearch {
  clear: both;
  background-color: #ffffff;
  height: 60px;
  margin-bottom: 20px;
  padding-top: 34px;
  padding-left: 40px;
  padding-right: 20px;
}


/* SEARCH BOX */

span.searchSpan {
  display: inline-block;
  float: right;
  padding-top: 0px;
  margin-top: -8px;
  margin-right: 40px;
}

form.searchBoxAndButton input[type=text] {
  margin-top: 0px;
  height: 34px;
  padding-left: 10px;
  border: 2px solid #ddd;
  border-radius: 15px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  background-color: #f2f4f7;
  pointer-events:none;
}

form.searchBoxAndButton input::placeholder {
  color: #999999;
  }


/* ARTICLE SECTION
*/

.articleContainer {
  float: left;
  width: 700px;
  margin: 0px auto;
}

article.instructionsArticle {
  width: 550px;
  min-height: 500px;
  background: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0px auto;
}


/*ASIDE - ARTICLES IN SECTION*/

aside.articlesInSection {
  width: 200px;
  float: left;
  margin-left: 40px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: verdana, sans-serif;
}

aside.articlesInSection p {
  color: #999999;
  font-size: 16px;
  width: 100%;
  font-family: Verdana, sans-serif;
}

div.asideItemOff {
  display: block;
  line-height: 1.6em;
  color: #999999;
  text-decoration: none;
  font-size: 16px;
  border-left: 1px solid #ffffff;
  padding-left: 10px;
  margin-bottom: 10px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

div.asideItemOff a {
  display: block;
  color: #999999;
  text-decoration: none;
}

div.asideItemOff:hover {
  display: block;
  border-left: 2px solid #999999;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}


div.asideItemOff:hover a {
  display: block;
  color: #0070C0;
  text-decoration: none;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

div.asideItemOn {
  display: block;
  line-height: 1.6em;
  color: #999999;
  text-decoration: none;
  font-size: 16px;
  border-left: 2px solid #999999;
  padding-left: 10px;
  margin-bottom: 10px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

div.asideItemOn a {
  display: block;
  color: #999999;
  text-decoration: none;
}


div.asideItemOn:hover a {
  color: #0070C0;
  display: block;
  text-decoration: none;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}


/* FOOTER SECTION (INCLUDES BOTH TOP AND BOTTOM SECTIONS)
*/

footer.underfloat {
  clear: both;
}

.footerText a {
  font-size: 14px;
  font-family: verdana, sans-serif;
  text-decoration: none;
  color: #1f73b7;
  border-bottom: 1px solid white;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.footerText a:visited {
  font-family: verdana, sans-serif;
  text-decoration: none;
  color: #1f73b7;
  border-bottom: 1px solid white;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.footerText a:hover {
  font-family: verdana, sans-serif;
  text-decoration: none;
  color: #1f73b7;
  border-bottom: 1px solid #0070C0;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}


/* TOP FOOTER
*/

.topFooter {
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 20px 0 40px 60px;
  }


/* BOTTOM FOOTER
*/

.bottomFooter {
  width: 100%;
  padding: 20px 0 40px 60px;
  border-top: 1px solid #ddd;
  }


/*RESPONSIVE RULES FROM 720-959*/

@media screen and (max-width:959px) {


  aside.articlesInSection {
    display: none;
  }

  span.searchSpan {
    display: none;
  }
  
  .breadcrumbsAndSearch {
    padding-bottom: 40px;
  }

  div.articleTitle {
    padding-left: 20px;  
    padding-right: 20px;
  }


}


/*RESPONSIVE RULES TO 719*/

@media screen and (max-width: 719px)  {

  header a {
    margin-left: 20px;
  }

  .articleContainer {
    float: left;
    width: 100%;
    margin: 0px auto;
  }

  article.instructionsArticle {
    float: left;
    width: 100%;
    margin: 0px auto;
    
  }

  div.articleTitle { 
    float: left;
    width: 100%;
    margin: 0px auto;
  }


  .breadcrumbsAndSearch {
    padding-left: 0px;
    margin-left: 0px;
  }

  .topFooter {
    padding-left: 20px;
  }

  .bottomFooter {
    padding-left: 20px;
  }

}


/*YOUTUBE VIDEOS*/

.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* Tables */

table {
  font-family: verdana, sans-serif;
  color: #666666;
  font-size: 16px;
  line-height: 2.2;
  word-wrap: break-word;
}

.refListContents {
  margin-top: 10px;
  float: right;
  text-align: right;
}

.afterRefListContents {
  clear: both;
}


/* Tables customized for Team Tasks "user permissions": table, tr, th, td */

table.userPermissions {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #d4d4d4;

}

tr:nth-child(even).userPermissions {
background-color: rgba(173, 216, 230, 0.2);

}

td.userPermissionsLeft  {
  width: 40%;
  padding-top: 16px;
  padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    line-height: 2em;
}

td.userPermissionsRight  {
  text-align: center;
  width: 60%;
  padding-top: 16px;
  padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 6px;
    line-height: 2em;
}


/* Tables customized for Scribble Maps' "preset headings": table, tr, th, td */

table.presetHeadings {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #d4d4d4;
}

tr:nth-child(even).presetHeadings {
background-color: rgba(173, 216, 230, 0.2);

}

td.presetHeadingsLeft  {
  width: 40%;
  padding-top: 6px;
  padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
}

td.presetHeadingsRight  {
  width: 60%;
  padding-top: 6px;
  padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 6px;
}